* {
    box-sizing: border-box;
}
#intro {
    height: 100vh;

    
    background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.55)) , url(/img/caro/File_27.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
};

.tableOne {
    margin: auto;
}




.activities,
.hours {
   min-height: 100vh;
}

@media (min-width:992px) {
    .videos,
    .photos {
        width: 100%;
    }
}