
.intro {
    height: 93vh;
  max-width: 1400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.55)) , url(/img/caro/File_27.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
};

.tableOne {
    margin: auto;
}

.addbox {
    border: solid .4px grey;
}